{% extends 'base.html' %}

<!-- css -->
{% block css %}
	<!-- custom  -->
	<link href="{{ STATIC_URL }}css/custom/global.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/custom/index.css" rel="stylesheet">
{% endblock %}

<!-- header -->
{% block header %}
	{% include 'header.html' %}
{% endblock %}

<!-- content -->
{% block content %}
	<div class="hello-world">Hello World!,</div>
{% endblock %}

<!-- footer -->
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

<!-- javascript -->
{% block javascript %}
	<!-- custom  -->
	<script src="{{ STATIC_URL }}js/custom/index.js"></script>
{% endblock %}